version: "3.8"
services:
  app:
    build: .
    cap_add:
      - SYS_ADMIN
    tmpfs:
    - /run
    - /tmp
    - /run/lock
    hostname: event-processor-a
    ports:
      - "4041:8080"
    volumes:
      - ./data:/data
      - /sys/fs/cgroup/:/sys/fs/cgroup:ro
    environment:
      FLASK_ENV: development
