version: "3.8"
services:
  app:
    build: .
    cap_add:
      - SYS_ADMIN
    ports:
      - "4040:4040"
    volumes:
      - ./data:/data
      - /sys/fs/cgroup/:/sys/fs/cgroup:ro
    environment:
      FLASK_ENV: development
