services:
  app:
    env_file: ".env"
    image: "${CONTAINER_NAME}"
    restart: unless-stopped
    stop_grace_period: 45s
    build:
      network: host
      context: .
      args:
        LANG: "${LANG}"
        LANGUAGE: "${LANGUAGE}"
    logging:
      driver: syslog
      options:
        syslog-address: "${SYSLOG_ADDRESS}"
        syslog-format: "rfc3164"
        tag: "${DEVICE_NAME}"
    tmpfs:
    - /tmp:exec
    hostname: ${DEVICE_NAME}
    ports:
      - "4041:4040"
      - "8095:8080"
      - "8085:8085"
      - "9400:9400"
    volumes:
      - ./data:/data
      - /dev/log:/dev/log
