argparse
awscli
beautifulsoup4
boto3
botoflow
blinker
influxdb-client
msgpack
netifaces
onepasswordconnectsdk
paho-mqtt
pathtools
pylru
python-dateutil
python-magic
python-telegram-bot
pytz
pyzmq
requests
schedule
sentry-sdk[flask]
simplejson
Flask
Flask-Compress
SQLAlchemy