argparse
beautifulsoup4
boto3
botoflow
blinker
netifaces
onepasswordconnectsdk
paho-mqtt
pathtools
pylru
python-dateutil
python-magic
python-telegram-bot
pytz
pyzmq
requests
schedule
sentry-sdk[flask]
simplejson
u-msgpack-python
Flask
Flask-Compress