<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- Uncomment Syslog appender when SYSLOG_HOST is set in the environment -->
        <!--
        <Syslog name="Syslog" format="RFC5424" host="${env:SYSLOG_HOST}" port="514" protocol="UDP" appName="event-processor" facility="LOCAL0" />
        -->
    </Appenders>
    <Loggers>
        <Root level="${env:LOG_LEVEL}">
            <AppenderRef ref="Console"/>
            <!-- <AppenderRef ref="Syslog"/> -->
        </Root>
    </Loggers>
</Configuration>