argparse
beautifulsoup4
boto3
botoflow
blinker
netifaces
pathtools
pylru
python-dateutil
python-magic
python-telegram-bot
pytz
pyzmq
requests
sentry-sdk[flask]
simplejson
u-msgpack-python
Flask
Flask-Compress