argparse
AWSIoTPythonSDK
beautifulsoup4
boto3
botoflow
blinker
pathtools
pylru
python-dateutil
python-magic
python-telegram-bot
pytz
pyzmq
raven
requests
resin-sdk
simplejson
u-msgpack-python
Flask
Flask-Compress