[Unit]
Description=ngrok
After=network.target syslog.service app.service

[Service]
Type=simple
ExecStart=/opt/app/ngrok start --config /opt/app/ngrok.yml --config /opt/app/ngrok_frontend.yml frontend
Restart=always
User=%(APP_USER)s
Group=%(APP_GROUP)s

[Install]
WantedBy=multi-user.target