[Unit]
Description=%(APP_NAME)s
After=network.target syslog.service launch.service

[Service]
Type=simple
PIDFile=/var/run/%(APP_NAME)s.pid
ExecStart=/opt/app/bin/python /opt/app/%(APP_NAME)s
Restart=always
User=%(APP_USER)s
Group=%(APP_GROUP)s
EnvironmentFile=/opt/app/environment.env

[Install]
WantedBy=multi-user.target