{% extends "layout.html" %}
{% set active_page = "show_config" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-clockpicker.min.css')}}">
{% endblock %}
{% block body %}
<p>General configuration.</p>
<div class="panel-group" id="accordion">
    {% for input_device_key, input_device in inputs|dictsort %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">{{ input_device['device_label'] }}{% if input_device['customized'] %} <span class="badge">Customized</span>{% endif %}</a>
            </h4>
        </div>
        <div id="collapse{{loop.index}}" class="panel-collapse collapse{% if input_device_key == last_saved_device_key or (loop.first and last_saved_device_key is none) %} in{% endif %}">
            <div class="panel-body">
                <form class="form" role="form" method='POST'>
                    <div class="form-group">
                        <label><input type="checkbox" name="auto_schedule" value="{{ input_device_key }}"{% if input_device['auto_schedule'] %} checked{% endif %}>Auto-schedule</label>
                    </div>
                    <div class="input-group clockpicker" data-autoclose="true">
                        <label>Enable at:<input type="text" name="auto_schedule_enable" class="form-control" value="22:30"><span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span></label>
                    </div>
                    <div class="input-group clockpicker" data-autoclose="true">
                        <label>Disable at:<input type="text" name="auto_schedule_disable" class="form-control" value="05:30"><span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" name="device_key" value="{{ input_device_key }}"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
    <script src="{{url_for('static', filename='bootstrap-clockpicker.min.js')}}"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
{% endblock %}