{% extends "layout.html" %}
{% set active_page = "show_config" %}
{% block body %}
            <a href="#">Inputs <span class="badge">{{ inputs }}</span></a><br>
            <a href="#">Outputs <span class="badge">{{ outputs }}</span></a><br>


            <form class="form-horizontal">
            <fieldset>

            <!-- Button Drop Down -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="buttondropdown">Button Drop Down</label>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Action
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Option one</a></li>
                      <li><a href="#">Option two</a></li>
                      <li><a href="#">Option three</a></li>
                    </ul>
                  </div>
                  <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder" type="text">
                </div>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
              </div>
            </div>

            </fieldset>
            </form>



{% endblock %}