{% extends "layout.html" %}
{% set active_page = "show_config" %}
{% block body %}
            <p>Configure output actions for your inputs.</p>
            <div class="panel-group" id="accordion">
                {% for input_device_key, input_device in inputs.items() %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">{{ input_device_key }} <span class="badge">{{ outputs|count }}</span></a>
                        </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse{% if loop.first %} in{% endif %}">
                        <div class="panel-body">
                            {% for output_device_key, output_device in outputs.items() %}
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">{{ output_device_key }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="focusedInput" type="text" placeholder="Parameters">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                </div>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}