{% extends "layout.html" %}
{% set active_page = "show_error" %}
{% block head %}
    <script src="https://browser.sentry-cdn.com/5.19.2/bundle.min.js" integrity="JpEWxJ7oLRn+baXBgcCKEv73uYWsgouzEResgJneOXvTjDZ+1crAXcNAKZoiL96Z" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    {% if sentry_event_id %}
      <script>
        Sentry.init({ dsn: '{{ sentry_dsn }}' });
        Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' })
      </script>
    {% endif %}
{% endblock %}