{% extends "layout.html" %}
{% set active_page = "show_error" %}
{% block head %}
    <script src="https://browser.sentry-cdn.com/5.29.2/bundle.min.js" integrity="sha384-ir4+BihBClNpjZk3UKgHTr0cwRhujAjy/M5VEGvcOzjhM1Db79GAg9xLxYn4uVK4" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    {% if sentry_event_id %}
      <script>
        Sentry.init({ dsn: '{{ sentry_dsn }}' });
        Sentry.showReportDialog({ eventId: '{{ sentry_event_id }}' })
      </script>
    {% endif %}
{% endblock %}