{% extends "layout.html" %}
{% set active_page = "event_log" %}
{% block body %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Input Device</th>
        <th>Output Device</th>
        <th>Timeframe</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td>{{ event.input_device }}</td>
        <td>{{ event.output_device }}</td>
        <td>{{ event.timestamp }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
