{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %}
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="row">
                    <form action={{url_for('notification_toggle')}} method='POST'>
                        <button type="submit" class="btn btn-lg btn-success">{{ notifications }}</button>
                    </form>
                </div>
                <div class="row">
                    <form action={{url_for('relay_ctrl_toggle')}} method='POST'>
                        <button type="submit" class="btn btn-lg btn-success">{{ relays }}</button>
                    </form>
                </div>
            </div>


            <div class="container">
                <h2>Accordion Example</h2>
                <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">

                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Option 1</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="focusedInput">Focused</label>
                                        <input class="form-control" id="focusedInput" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Disabled</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
