{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %}
<ul class="list-group">
  {% for input_device_key, input_device in inputs|dictsort %}
  {% with strike_thru = input_device_key in awol_inputs %}
  <a class="list-group-item{% if not input_device['device_disabled'] %} active{% endif %}">{% if 'grouped_inputs' in input_device %}<span class="badge">{{ input_device['grouped_inputs']|count }}</span>{% endif %}
    <form class="form-horizontal" role="form" method='POST'>
      <button type="submit" class="btn btn-{% if input_device['mixed_disabled'] %}warning{% else %}success{% endif %}" name="device_key" value="{{ input_device_key }}">{% if strike_thru %}<del>{% endif %}{{ input_device['device_label'] }}{% if strike_thru %}</del>{% endif %} <span class="glyphicon glyphicon-volume-{% if not input_device['device_disabled'] %}up{% elif input_device['mixed_disabled'] %}down{% else %}off{% endif %}"></span></button>
      {% if input_device['type'] == 'Meter' %}
      <button type="button" data-bb="confirm" class="btn btn-warning" name="meter_reset" value="{{ input_device_key }}">Reset <span class="glyphicon glyphicon-scale"></span></button>
      <button type="submit" class="btn btn-success" name="meter_history" value="{{ input_device_key }}">Stats <span class="glyphicon glyphicon-stats"></span></button>
      {% endif %}
    </form>
    {% for grouped_input_label in input_labels[input_device_key]|sort %}
    {% with strike_thru = grouped_input_label in awol_input_labels %}
    <p class="list-group-item-text">{% if strike_thru %}<del>{% endif %}{{ grouped_input_label }}{% if strike_thru %}</del>{% endif %}</p>
    {% endwith %}
    {% endfor %}
    {% if input_device['type'] == 'Meter' and 'meter_value' in input_device %}
    <p class="list-group-item-text">Reading: {{ input_device['meter_value'] }}</p>
    {% endif %}
  </a>
  {% endwith %}
  {% endfor %}
</ul>
{% endblock %}
