{% extends "layout.html" %}
{% set active_page = "input_config" %}
{% block body %}
            <p>Customize inputs.</p>
            <div class="panel-group" id="accordion">
                {% for input_device_key, input_device in inputs|dictsort %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">{{ input_device_key }} <span class="badge">{{ inputs|count }}</span></a>
                        </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse{% if loop.first %} in{% endif %}">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method='POST'>
                                <div class="form-group">
                                    <label for="friendly_name">Friendly name:</label>
                                    <input id="friendly_name" class="form-control" type="text" name="friendly_name" placeholder="{{ input_device_key }}">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-sm-2" for="activations">Activations for trigger:</label>
                                        <div class="col-sm-4">
                                            <input id="activations" class="form-control" type="text" name="activations_per_trigger" placeholder="{{ default_activations_per_trigger }}">
                                        </div>
                                        <label class="control-label col-sm-2" for="interval">Within this interval:</label>
                                        <div class="col-sm-4">
                                            <input id="interval" class="form-control" type="text" name="trigger_window" placeholder="{{ default_trigger_window }} seconds">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="debounce">Activation interval:</label>
                                    <input id="debounce" class="form-control" type="text" name="activation_interval" placeholder="{{ default_activation_interval }} seconds">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" name="{{ input_device_key }}" value=""><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}