{% extends "layout.html" %}
{% set active_page = "input_config" %}
{% block body %}
            <p>Customize inputs.</p>
            <div class="panel-group" id="accordion">
                {% for input_device_key, input_device in inputs|dictsort %}
                {% if input_device['type'] == 'Panic Button' %}{% continue %}{% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">{{ input_device['device_label'] }}{% if input_device['customized'] %} <span class="badge">Customized</span>{% endif %}</a>
                        </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse{% if input_device_key == last_saved_device_key or (loop.first and last_saved_device_key is none) %} in{% endif %}">
                        <div class="panel-body">
                            <form class="form" role="form" method='POST'>
                                <div class="form-group">
                                    <label><input type="checkbox" name="info_notify" value="{{ input_device_key }}"{% if input_device['info_notify'] %} checked{% endif %}>Notifications are informational (daylight hours only)</label>
                                </div>
                                {% if input_device['type'] != 'Meter' %}
                                <div class="form-group">
                                    <label for="group_name">Group name:</label>
                                    <input id="group_name" class="form-control" type="text" name="group_name" placeholder="{{ input_device['device_label'] }}" value="{{ input_device['group_name'] }}">
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="interval"><input type="checkbox" name="multi_trigger" value="{{ input_device_key }}"{% if input_device['multi_trigger'] %} checked{% endif %}>Treated as active only on multiple triggers within this interval:</label>
                                    <input id="interval" class="form-control" type="text" name="trigger_window" placeholder="{{ default_trigger_window }} seconds" value="{{ input_device['trigger_window'] }}">
                                </div>
                                <div class="form-group">
                                    <label for="latch">Latched as activated for this duration irrespective of ongoing triggers:</label>
                                    <input id="latch" class="form-control" type="text" name="activation_interval" placeholder="{{ default_activation_interval }} seconds" value="{{ input_device['activation_interval'] }}">
                                </div>
                                {% if input_device['type'] == 'Meter' %}
                                <div class="form-group">
                                    <label class="radio-inline"><input type="radio" name="meter_mode" value="default"{% if not input_device['meter_mode'] %} checked{% endif %}>Default</label>
                                    <label class="radio-inline"><input type="radio" name="meter_mode" value="incrementing"{% if input_device['meter_mode'] == 'incrementing' %} checked{% endif %}>Incrementing</label>
                                    <label class="radio-inline"><input type="radio" name="meter_mode" value="decrementing"{% if input_device['meter_mode'] == 'decrementing' %} checked{% endif %}>Decrementing</label>
                                </div>
                                <div class="form-group">
                                    <label for="meter_reset">Reset value for the meter:</label>
                                    <input id="meter_reset" class="form-control" type="text" name="meter_reset_value" placeholder="0" value="{{ input_device['meter_reset_value'] }}">
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="meter_reset_additive" value="{{ input_device_key }}"{% if input_device['meter_reset_additive'] %} checked{% endif %}>Reset has additive effect</label>
                                </div>
                                <div class="form-group">
                                    <label for="meter_low">Active if the metered value is below this value:</label>
                                    <input id="meter_low" class="form-control" type="text" name="meter_low_limit" placeholder="" value="{{ input_device['meter_low_limit'] }}">
                                </div>
                                <div class="form-group">
                                    <label for="meter_high">Active if the metered value is above this value:</label>
                                    <input id="meter_high" class="form-control" type="text" name="meter_high_limit" placeholder="" value="{{ input_device['meter_high_limit'] }}">
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" name="device_key" value="{{ input_device_key }}"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}