{% extends "layout.html" %}
{% set active_page = "show_metrics" %}
{% block body %}
    <p class="text-center"><h3>{{ metric_title }}</h3></p>
    <div id="chart_div_day"></div>
    <div id="chart_div_week"></div>
    <div id="chart_div_month"></div>
{% endblock %}
{% block script %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                  var options = {
                    enableInteractivity: true,
                    height: 500,
                    chartArea: {
                      width:'95%',
                    },
                    hAxis: {
                      gridlines: {
                        count: -1,
                        units: {
                          days: {format: ['MMM dd']},
                          hours: {format: ['HH:mm', 'ha']},
                        }
                      },
                      minorGridlines: {
                        units: {
                          hours: {format: ['hh:mm:ss a', 'ha']},
                          minutes: {format: ['HH:mm a Z', ':mm']}
                        }
                      }
                    },
                    legend : {
                      position: 'in'
                    },
                    series: {
                      1: {curveType: 'function'}
                    },
                  };

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', 'Units');
                  {% for metric_date, metric_value in meter_history_day %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_day'));
                  chart.draw(data, options);

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', 'Units');
                  {% for metric_date, metric_value in meter_history_week %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_week'));
                  chart.draw(data, options);

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', 'Units');
                  {% for metric_date, metric_value in meter_history_month %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_month'));
                  chart.draw(data, options);
                }
        </script>
{% endblock %}