{% extends "layout.html" %}
{% set active_page = "show_metrics" %}
{% block body %}
    <h3><p class="text-center">{{ metric_title }}</p></h3>
    <div id="chart_div_day"></div>
    <div id="chart_div_week"></div>
    <div id="chart_div_month"></div>
{% endblock %}
{% block script %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                  var options = {
                    enableInteractivity: true,
                    height: 500,
                    chartArea: {
                      width:'85%',
                    },
                    hAxis: {
                      gridlines: {
                        count: -1,
                        units: {
                          days: {format: ['MMM dd']},
                          hours: {format: ['HH:mm', 'ha']},
                        }
                      },
                      minorGridlines: {
                        units: {
                          hours: {format: ['hh:mm:ss a', 'ha']},
                          minutes: {format: ['HH:mm a Z', ':mm']}
                        }
                      }
                    },
                    vAxis: {
                      viewWindow: {
                        min: 0
                      },
                    },
                    legend : {
                      position: 'in'
                    },
                  };

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', '{{ metric_legend }}');
                  {% for metric_date, metric_value in meter_history_day %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_day'));
                  var options_title = {
                    title: '{{ meter_history_day_title }}',
                  };
                  chart.draw(data, $.extend(options_title, options));

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', '{{ metric_legend }}');
                  {% for metric_date, metric_value in meter_history_week %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_week'));
                  var weekly_options = {
                    title: '{{ meter_history_week_title }}',
                    curveType: 'function',
                  };
                  chart.draw(data, $.extend(weekly_options, options));

                  var data = new google.visualization.DataTable();
                  data.addColumn('datetime', 'Time');
                  data.addColumn('number', '{{ metric_legend }}');
                  {% for metric_date, metric_value in meter_history_month %}
                  data.addRow([new Date('{{ metric_date }}'), {{ metric_value }}]);
                  {% endfor %}
                  var chart = new google.visualization.LineChart(document.getElementById('chart_div_month'));
                  var monthly_options = {
                    title: '{{ meter_history_month_title }}',
                    curveType: 'function',
                  };
                  chart.draw(data, $.extend(monthly_options, options));
                }
        </script>
{% endblock %}