{% extends "layout.html" %}
{% set active_page = "output_config" %}
{% block body %}
            <p>Customize outputs.</p>
            <div class="panel-group" id="accordion">
                {% for output_device_key, output_device in outputs|dictsort %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}">{{ output_device['device_label'] }}{% if 'device_params' in output_device %} <span class="badge">Customized</span>{% endif %}</a>
                        </h4>
                    </div>
                    <div id="collapse{{loop.index}}" class="panel-collapse collapse{% if output_device_key == last_saved_device_key or loop.first %} in{% endif %}">
                        <div class="panel-body">
                            <form role="form" method='POST'>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="device_params" placeholder="Parameters" value="{{ output_device['device_params'] }}">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" name="device_key" value="{{ output_device_key }}"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}